//
// VARIABLES
// --------------------------------------------------

// Colors
// --------------------------------------------------
$color-background: #F3F5F6;
$color-green: #15909E;
$color-gray: #898989;
$color-caret: #E3E3E3;
$color-white: #fff;
$color-black: #000;

// Media Queries
// --------------------------------------------------
$break-medium: 768px;
$break-large: 1024px;

@media only screen and (min-width: $break-medium) {}

@media only screen and (min-width: $break-large) {}
